<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>Reviens chez Bound</title>
    </head>

    <body>
        <div class="container">
            <h1>Salut {{ user.username }} !</h1>
            <h2>
                Bon, on a perdu son mot de passe ?<br>
                <small>T'inquiètes, ça arrive même aux meilleurs !</small>
            </h2>

            <p>
                Comme on est gentil chez Bound, on a changé le mot de passe pour toi directement.<br>
                Ton nouveau mot de passe c'est: <strong>{{ token }}</strong><br>
                Tu pourras le modifier directement dans ton dashboard sur l'application, mais fais gaffe de plus le perdre cette fois-ci !<br>
            </p>

            <p>
                À très bientôt sur Bound !<br>
                <i>Bisous de la part de Pierrick et de la team administrative.</i>
            </p>
        </div>
    </body>
</html>
