/* 
* @Author: gicque_p
* @Date:   2015-10-12 18:22:11
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-10-16 12:58:02
*/

body {
    font-family: "Open Sans";
    font-weight: 100;
    background-color: #FFFFFF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #FF5252;
    color: #FFFFFF;

    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#content {
    padding-top: 2vh;
}

.sidebar {
    position: fixed;
    left: 0;

    min-height: 100vh;
    min-width: 15vw;

    background-color: #448AFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    -webkit-transition: all 0 cubic-bezier(.34,.85,1,1);
    -moz-transition: all 0 cubic-bezier(.34,.85,1,1);
    -ms-transition: all 0 cubic-bezier(.34,.85,1,1);
    -o-transition: all 0 cubic-bezier(.34,.85,1,1);
    transition: all 0 cubic-bezier(.34,.85,1,1);

    -webkit-transition-timing-function: cubic-bezier(.34,.85,1,1);
    -moz-transition-timing-function: cubic-bezier(.34,.85,1,1);
    -ms-transition-timing-function: cubic-bezier(.34,.85,1,1);
    -o-transition-timing-function: cubic-bezier(.34,.85,1,1);
    transition-timing-function: cubic-bezier(.34,.85,1,1);
}

.sidebar.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 650ms;
  -webkit-transition-duration: 650ms;
  opacity: 0;
}

.sidebar.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.sidebar.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 650ms;
  -webkit-transition-duration: 650ms;
  opacity: 1;
}

.sidebar.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}

.sidebar.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 650ms;
  -webkit-transition-duration: 650ms;
  opacity: 1;
}

.sidebar.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}

.sidebar.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 650ms;
  -webkit-transition-duration: 650ms;
  display: block !important;
  opacity: 0;
}

.sidebar.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
