/* 
* @Author: gicque_p
* @Date:   2015-10-12 18:22:11
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-10-13 10:53:32
*/

body {
    font-family: "Open Sans";
    font-weight: 100;
    background-color: #FFFFFF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #935347;
    color: #FFFFFF;

    font-weight: bold;
}
