/* 
* @Author: gicque_p
* @Date:   2015-10-28 13:01:17
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-11-27 17:15:36
*/

body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

hr {
    border: 1px solid #FF80AB;
    background: url(../images/pink-arrow.png) center no-repeat;
}

.btn.btn-circle {
    padding: 0;
    border-radius: 50%;
    border: 2px solid #212121;

    width: 56px;
    height: 56px;
    min-width: 56px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.font-bold {
    font-weight: 400;
}

.table-display {
    display: table;
    table-layout: fixed;    
}

.vertical-align {
    display: table-cell !important;
    vertical-align: middle;
}

.vertical-align-bottom {
    display: table-cell !important;
    vertical-align: bottom;
}

.delimiter {
    border-top: 5px solid #FF80AB;
    text-align: center;
}

.delimiter img {
    position: relative;
    top: -6px;
}

.arrow {
    font-size: 2.5em;
    color: #212121;
}

.flat-button {
    border: none;
    border-radius: 2px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #212121 !important;
    font-weight: 700;

    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

.flat-button:hover {
    color: #ED2253 !important;
    background: #FFFFFF;
}

.header {
    border-top: 7px solid #ED2253;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    position: fixed;
    width: 100%;
    z-index: 1;

    background: #FFFFFF;
}

.header nav {
    border: none;
    margin: 0;
    margin-top: 30px;
    background: #FFFFFF;
}

.header .navbar-header a {
    font-weight: 300;
    font-size: 5em;
    letter-spacing: 1px;
    color: #212121;
    text-transform: uppercase;

    position: relative;
    bottom: 10px;
}

.header ul li {
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;

    border-bottom: 5px solid rgba(237, 34, 83, 0);
    border-width: 110%;

    transition: border 0.3s ease-in;
    -o-transition: border 0.3s ease-in;
    -ms-transition: border 0.3s ease-in;
    -moz-transition: border 0.3s ease-in;
    -webkit-transition: border 0.3s ease-in;
}

.header ul li a {
    color: #212121;
    text-decoration: none;
}

.header ul li.active, .header ul li:hover {
    border-bottom: 5px solid rgba(237, 34, 83, 1);
}

.header ul li.active {
    cursor: not-allowed;
}

.header ul li.active a {
    pointer-events: none;
    font-weight: 400;
    color: #AAAAAA;
    background: none !important;
}

.fab-menu {
    background-color: #448AFF;
    color: #FFFFFF;

    border: none !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    position: absolute;
    right: 30px;
    top: 25px;
}

.fab-menu:hover, .fab-menu:focus {
    background: #448AFF;
    color: #FFFFFF;
}

#welcome, #concept, #design, #contact {
    min-height: 95vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

#welcome {
    background: url('../images/pink-background.png') no-repeat center;

    color: #FFFFFF;
}

#welcome h1 {
    font-size: 12em;
    font-weight: 300;
    text-transform: uppercase;
}

#welcome p {
    font-size: 2em;
    font-weight: 100;
}

#welcome p.bordered {
    border-right: 2px solid #C2185B;
}

#welcome a {
    color: #FFFFFF;
}

#welcome .arrow {
    color: #FFFFFF;
}

#concept {
    background: url(../images/lowpoly2.png) left no-repeat;
    color: #FFFFFF;
}

#concept p {
    font-size: 2em;
    font-weight: 100;
}

#concept .arrow {
    color: #FFFFFF;
}

#design {
    background: url(../images/lowpoly8.png) center no-repeat;
    background-size: 100%;

    color: #FFFFFF;
    text-shadow: 0 0 20px #212121;
}

#design p {
    font-size: 2em;
    font-weight: 100;
}

#design .grid-card {
    height: 200px;
    margin: 10px;

    padding: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    color: #212121;
    text-shadow: none;
}

#design div {
    margin: 0;
}

#design .grid-top {
    background: #ED2253;
    color: #FFFFFF;
    height: 60%;

    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

#design .grid-top hr {
    width: 50%;
}

#design .grid-bottom {
    height: 40%;
    padding-top: 10px;
    font-size: 0.7em;

    background: #FFFFFF;
    margin: 0;
}

#design .grid-card h3 {
    margin: 0;
    padding-top: 10px;
}

#design .grid-card:hover {
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
    -webkit-animation-name: pulse; 
    animation-name: pulse;
}

#design .grid-card:hover .grid-top {
    background: #D81B60;
}

#design a {
    text-shadow: none;
}

#contact {
    background: #212121;
    color: #FFFFFF;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

#contact h1 {
    font-size: 4em;
    text-transform: uppercase;
}

#contact p {
    font-size: 2em;
    font-weight: 100;
}

#map {
    height: 300px;
}



/* Forms */
.form-box {
    background-image: url(../images/lowpoly3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20vh;
}

.offbox {
    background-color: rgba(21, 21, 21, 0.5);
    border-radius: 5px;

    position: absolute;
    z-index: 0;
}

.form-box h1 {
    letter-spacing: 2px;
    text-transform: uppercase;

    padding-left: 1vw;    
}

.form-box label {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 60px;
}

.form-box a {
    color: #FFFFFF;
    text-decoration: none;
}

.form-box a:focus, .form-box a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.login-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.register-box {
    background-color: #E91E63;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login-box h1 {
    color: #E91E63;
    border-left: 5px solid #E91E63;    
}

.register-box h1 {
    color: #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.login-box label {
    color: #212121;
}

.register-box label {
    color: #FFFFFF;
}

.form-box input {
    border: none;
    background: none;
}

.login-box input {
    color: #212121;
}

.register-box input {
    color: #FFFFFF;
}

.form-box input:focus {
    outline: none;
}

.login-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.register-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E91E63 inset !important;
}

.input .spin {
   background: #E91E63;
   z-index: 4;
   width: 0;
}

.login-box .input .spin {
    background: #E91E63;
}

.register-box .input .spin {
    background: #FFFFFF;
    width: 0%;
}

.input:before {
   content: "";
   background: rgba(0, 0, 0, 0.1);
   z-index: 3;
}

.remember-me {
    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

.form-box button {
    position: relative;
    padding: 2vh 4vw;
    background: none;
    outline: 0;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;

    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.login-box button {
    border: 2px solid #E91E63;    
}

.register-box button {
    border: 2px solid #FFFFFF;    
}

.form-box button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 700;
}

.login-box button:hover {
    color: #FFFFFF;    
}

.register-box button:hover {
    color: #E91E63;
}

.form-box button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.2s ease-in;
    -webkit-transition: top 0.2s ease-in;
    -ms-transition: top 0.2s ease-in;
}

.login-box button:before {
    background: #E91E63;
}

.register-box button:before {
    background: #FFFFFF;
}

.form-box button:hover:before {
    top: 0;
}

.button {
    height: 70px;
    margin: 3vh 0;
    float: left;
    width: 100%;
}

.alert {
    margin: 0;
}

.register-box .shape {
    width: 50%;
    height: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* Animations */

.animate-button,
.alt {
   width: 140px;
   height: 140px;
   border-radius: 50%;
   position: absolute;
   top: 40px;
   right: -70px;
   cursor: pointer;
   z-index: 100;
   transform: translate(0%, 0%);
   -webkit-transform: translate(0%, 0%);
   -ms-transform: translate(0%, 0%);

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login-box .animate-button,
.login-box .alt {
   background: #E91E63;
}

.register-box .animate-button,
.register-box .alt {
   background: #FFFFFF;
}

.animate-button .shape,
.alt .shape {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
}

.animate-button .shape:before,
.alt .shape:before,
.animate-button .shape:after,
.alt .shape:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(360deg);
   -webkit-transform: translate(-50%, -50%) rotate(360deg);
   -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.login-box .animate-button .shape:before,
.login-box .alt .shape:before,
.login-box .animate-button .shape:after,
.login-box .alt .shape:after {
    background: #FFFFFF;
}

.register-box .animate-button .shape:before,
.register-box .alt .shape:before,
.register-box .animate-button .shape:after,
.register-box .alt .shape:after {
    background: #E91E63;
}

.animate-button .shape:before,
.alt .shape:before {
   width: 25px;
   height: 4px;
}

.animate-button .shape:after,
.alt .shape:after {
   height: 25px;
   width: 4px;
}

.animate-button.active,
.alt.active {
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%) rotate(0deg);
   -webkit-transform: translate(50%, -50%) rotate(0deg);
   -ms-transform: translate(50%, -50%) rotate(0deg);
}

.input,
.input label,
.input input,
.input .spin {
   transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin {
   width: 100%;
   float: left;
}

.input {
   margin-top: 30px;
   height: 70px;
}

.input,
.input input {
   position: relative;
}

.input input {
   height: 60px;
   top: 10px;
}

.input:before,
.input .spin {
   width: 100%;
   height: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
}

.input label {
   position: absolute;
   top: 10px;
   left: 0;
   z-index: 2;
   cursor: pointer;
}

.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}
