/* 
* @Author: gicque_p
* @Date:   2015-10-28 13:01:17
* @Last Modified by:   gicque_p
* @Last Modified time: 2015-11-06 17:21:28
*/

body {
    background-image: url(../images/background5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    letter-spacing: 2px;
    text-transform: uppercase;

    padding-left: 1vw;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:focus, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

label {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 60px;
}

.form-box {
    margin-top: 20vh;
}

.offbox {

    background-color: rgba(21, 21, 21, 0.5);
    border-radius: 5px;

    position: absolute;
    z-index: 0;
}

.login-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.register-box {
    background-color: #ED2553;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login-box h1 {
    color: #ED2553;
    border-left: 5px solid #ED2553;    
}

.register-box h1 {
    color: #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.login-box label {
    color: #212121;
}

.register-box label {
    color: #FFFFFF;
}

input {
    border: none;
    background: none;
}

.login-box input {
    color: #212121;
}

.register-box input {
    color: #FFFFFF;
}

input:focus {
    outline: none;
}

.login-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.register-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ED2553 inset !important;
}

.input .spin {
   background: #ED2553;
   z-index: 4;
   width: 0;
}

.login-box .input .spin {
    background: #ED2553;
}

.register-box .input .spin {
    background: #FFFFFF;
    width: 0%;
}

.input:before {
   content: "";
   background: rgba(0, 0, 0, 0.1);
   z-index: 3;
}

.remember-me {
    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

button {
    position: relative;
    padding: 2vh 4vw;
    background: none;
    outline: 0;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;

    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.login-box button {
    border: 2px solid #ED2553;    
}

.register-box button {
    border: 2px solid #FFFFFF;    
}

button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 700;
}

.login-box button:hover {
    color: #FFFFFF;    
}

.register-box button:hover {
    color: #ED2553;
}

button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.2s ease-in;
    -webkit-transition: top 0.2s ease-in;
    -ms-transition: top 0.2s ease-in;
}

.login-box button:before {
    background: #ED2553;
}

.register-box button:before {
    background: #FFFFFF;
}

button:hover:before {
    top: 0;
}

.button {
    height: 70px;
    margin: 3vh 0;
    float: left;
    width: 100%;
}

.alert {
    margin: 0;
}

.register-box .shape {
    width: 50%;
    height: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* Animations */

.animate-button,
.alt {
   width: 140px;
   height: 140px;
   border-radius: 50%;
   position: absolute;
   top: 40px;
   right: -70px;
   cursor: pointer;
   z-index: 100;
   transform: translate(0%, 0%);
   -webkit-transform: translate(0%, 0%);
   -ms-transform: translate(0%, 0%);

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login-box .animate-button,
.login-box .alt {
   background: #ED2553;
}

.register-box .animate-button,
.register-box .alt {
   background: #FFFFFF;
}

.animate-button .shape,
.alt .shape {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
}

.animate-button .shape:before,
.alt .shape:before,
.animate-button .shape:after,
.alt .shape:after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(360deg);
   -webkit-transform: translate(-50%, -50%) rotate(360deg);
   -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.login-box .animate-button .shape:before,
.login-box .alt .shape:before,
.login-box .animate-button .shape:after,
.login-box .alt .shape:after {
    background: #FFFFFF;
}

.register-box .animate-button .shape:before,
.register-box .alt .shape:before,
.register-box .animate-button .shape:after,
.register-box .alt .shape:after {
    background: #ED2553;
}

.animate-button .shape:before,
.alt .shape:before {
   width: 25px;
   height: 4px;
}

.animate-button .shape:after,
.alt .shape:after {
   height: 25px;
   width: 4px;
}

.animate-button.active,
.alt.active {
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%) rotate(0deg);
   -webkit-transform: translate(50%, -50%) rotate(0deg);
   -ms-transform: translate(50%, -50%) rotate(0deg);
}

.input,
.input label,
.input input,
.input .spin {
   transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin {
   width: 100%;
   float: left;
}

.input {
   margin-top: 30px;
   height: 70px;
}

.input,
.input input {
   position: relative;
}

.input input {
   height: 60px;
   top: 10px;
}

.input:before,
.input .spin {
   width: 100%;
   height: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
}

.input label {
   position: absolute;
   top: 10px;
   left: 0;
   z-index: 2;
   cursor: pointer;
}
