<div class="panel-body">
    <div class="container padding-top-medium">
        <div class="panel-header background-blue">
            <h3 class="font-white"><i class="fa fa-cog"></i>&nbsp;Configuration</h3>
        </div>

        <div class="panel-content text-center background-white padding-medium">
            <md-content class="md-no-momentum">
                <md-input-container class="md-icon-float md-block">
                    <label>Nom d'utilisateur</label>
                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="username"></md-icon>
                    <input ng-model="user.username" type="text" ng-required="true">
                </md-input-container>
                
                <md-input-container md-no-float class="md-block">
                    <label>Email</label>
                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                    <input ng-model="user.email" type="text" placeholder="email" ng-required="true">
                </md-input-container>
            </md-content>

            <h3>
                Associer Facebook
                <a href="{{ facebookLogin }}">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </h3>

            <h3>
                Associer Twitter
                <a href="" class="disabled">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </h3>

            <md-button class="md-raised md-primary" ng-click="refresh()">Rafraîchir les haut-faits obtenus</md-button>
        </div>
    </div>
</div>
