<div class="panel-body">
    <ul class="timeline" ng-repeat="(key, notification) in notifications">
        <li ng-class="key % 3 == 1 ? 'timeline-inverted' : ''">
            <div class="timeline-badge" ng-switch on="notification.type">
                <div ng-switch-when="facebook" class="background-facebook">
                    <i class="fa fa-facebook"></i>
                </div>

                <div ng-switch-when="twitter" class="background-twitter">
                    <i class="fa fa-twitter"></i>
                </div>

                <div ng-switch-when="instagram" class="background-instagram">
                    <i class="fa fa-instagram"></i>
                </div>

                <div ng-switch-when="achievement" class="background-yellow">
                    <i class="fa fa-star"></i>
                </div>

                <div ng-switch-default class="background-aubergine">
                    <i class="fa fa-link"></i>
                </div>
            </div>

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title" ng-bind="notification.title">{{ notification.title }}</h4>
                    <p>
                        <small class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;<span am-time-ago="notification.date"></span></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p ng-bind="notification.content">{{ notification.content }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<footer class="text-center">
    Pierrick Gicquelais - No copyrights
</footer>
