{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boundcore/css/app.css') }}" />
{% endblock %}

{% block header %}
    <section class="container">
        <div class="col-md-4 text-left">
            <h4> Logo Spot </h4>
        </div>

        <div class="col-md-4 text-center">
            <h4> Search Bar </h4>
        </div>

        <div class="col-md-4 text-right">
            <h4> Mini Nav </h4>
        </div>

    </section>
{% endblock %}

{% block content %}
    <div ng-controller="MainController">
        <div class="row">
            {% include('BoundCoreBundle:directives:appInfo.html.twig') %}
        </div>

        <div class="row">
            <p> [[ news.response ]] </p>
            <p> [[ news.data.title ]] </p>
            <p> [[ news.data.content ]] </p>
            <p> [[ news.data.author ]] </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/boundcore/js/controllers/mainController.js') }}"></script>
    <script src="{{ asset('bundles/boundcore/js/directives/appInfo.js') }}"></script>
    <script src="{{ asset('bundles/boundcore/js/services/showNews.js') }}"></script>
{% endblock %}
