{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boundfront/css/app.css') }}" />
{% endblock %}

{% block header %}
    <section class="container">
        <div class="col-md-4 text-left">
            <h4> Logo Spot </h4>
        </div>

        <div class="col-md-4 text-center">
            <h4> Search Bar </h4>
        </div>

        <div class="col-md-4 text-right">
            <h4> Mini Nav </h4>
        </div>

    </section>
{% endblock %}

{% block content %}
    <div ng-controller="MainController">
        <div class="row">
            {% include('BoundFrontBundle:directives:appInfo.html.twig') %}
        </div>

        <div class="row" ng-repeat="user in users">
            <p> [[ user.username ]] </p>
            <p> [[ user.email ]] </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/boundfront/js/controllers/mainController.js') }}"></script>
    <script src="{{ asset('bundles/boundfront/js/directives/appInfo.js') }}"></script>
    <script src="{{ asset('bundles/boundfront/js/services/httpResponse.js') }}"></script>
{% endblock %}
